@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-listar-percurso{
    width: 100vw;
    height: 100vh;
    background: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-listar-percurso{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.left-listar-percurso > h1 {
    font-size: 3vw;
    color: #ffc300;
}

.right-listar-percurso{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-listar-percurso{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #1b1b1b;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-listar-percurso > h1{
    color: #ffd60a;
    font-weight: 800;
    margin: 0;
    letter-spacing: 3px;
}

.textfield-listar-percurso{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield-listar-percurso > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #2a2a2a;
    color: #fffbf0de;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield-listar-percurso > label {
    color: #fffbf0de;
    margin-bottom: 10px;
}

.textfield-listar-percurso > input::placeholder{
    color: #fffbf094;
}

.opcoes-percurso {
    display: flex;
    margin-top: 20px;
}

.opcoes-percurso > label {
    color: #fffbf0de;
    margin-bottom: 10px;
}

.opcoes-percurso > select {
    margin-bottom: 10px;
    margin-left: 15px;
    border-radius: 10px;
    background-color: #2a2a2a;
    color: #fffbf0de;
    font-size: 12pt;
    text-align: center;
}

.textfield-listar-percurso > input[readOnly] {
    background-color: #1b1b1b;
 
}


.btn-listar-perc{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #1b1b1b;
    background: #ffc300;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #ffc40052;
}

@media only screen and (max-width: 950px){
    .card-listar-percurso{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-listar-percurso{
        flex-direction: column;
    }
    .left-listar-percurso > h1{
        display: none;
    }
    .left-listar-percurso{
        width: 100%;
        height: auto;
    }
    .right-listar-percurso{
        width: 100%;
        height: auto;
    }
    .card-listar-percurso{
        width: 90%;
    }
}

.output-percurso table{
    width:70%;
  }


  .output-percurso th{
    padding: 5px 5px;
    text-align: center;
    font-weight: 500;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    background-color: #2a2a2a;
    border-radius: 2px;
}

.output-percurso th:nth-child(2):hover{
    background: #fff;
    color: #2a2a2a;
}

.output-percurso th:nth-child(3):hover{
    background: #fff;
    color: #2a2a2a;
}

.output-percurso td{
    padding: 5px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 11px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}

.listar-percurso-buttons{
    margin-left: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}

.btn-home-percurso-listar{
    width: 5%;
    padding: 16px 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    
    background: none;
    cursor: pointer;
}

.btn-percurso-listar{
    width: 5%;
    padding: 16px 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    
    background: none;
    cursor: pointer;
}

.tableFooter-percurso {
    width: 70%;
}

.tableFooter-percurso > div{
    /*padding: 5px 5px;*/
    text-align: right;
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    /*text-transform: uppercase;*/
    background-color: #2a2a2a;
    border-radius: 2px;
}

.MuiTablePagination-selectRoot {
    font-size: 12pt;
    
}